@import "@arcgis/core/assets/esri/themes/light/main.css";

.scale {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: #fff;
    color: #242424;
}

#queryDiv{
    display: none;
}